$textColor: #e5e5e5a0;
$textColorHover: #fca311;
@mixin color-fondo {
    background-color: #e5e5e583;
    font-weight: bold;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Abel', sans-serif;
    font-size: x-large;
    background-color: #000000;
}

@import "header";
@import "main";
@import "footer";

.conteiner {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.35fr 2fr 0.5fr;  
    grid-template-areas: 
    "navegador"
    "main"
    "footer"
}

@media only screen and (min-width: 1024px){
    .navbar-expand-lg .navbar-collapse{
        justify-content: flex-end;
    }
}
@media only screen and (max-width: 767px){
	.enlaces ul{
        display: flex;
        flex-direction: column;
    }
    .equipos {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(8, 1fr); 
        grid-template-areas: 
        "equip1" 
        "equip2"
        "equip3" 
        "equip4"
        "equip5" 
        "equip6"
        "equip7" 
        "equip8"; 
    }
}

